.custom_label {
    width: 25%;
}

.custom_combobox {
    margin-top: -18px !important;
    width: 100% !important;
}

.scrollDiv {
    width: 100%;
    position: relative;
    overflow: auto;
    max-height: 400px;
    min-height: 300px;
}
.itemTabel thead th{
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 90;
    height: 30px;
}

.bookBorrowHead {
    font-size: 16px;
    margin-bottom: 7px;
    padding: 3px;
    font-weight: 800;
}

.custom_input_class1 {
    margin-top: -20px;
}